.Graphics__container {
  margin-top: 20px;
}
.Graphics__container .Graphics-button {
  display: block;
  margin: 0 auto;
  font-size: 1.8rem;
  border-radius: 10px;
  background: transparent;
  padding: 8px;
  cursor: pointer;
  background-color: #9f6dfc;
  color: white;
  font-weight: bold;
  
}
.ItemsGraphics__container {
  overflow: scroll;
  white-space: nowrap;
  transition: opacity, margin 1s;
  transition-timing-function: ease-in-out;
}
.ItemsGraphics__container.false {
  opacity: 0;
}
.ItemsGraphics__container.true {
  opacity: 1;
  margin: 20px 0;
}