.Graphics__container {
  margin-top: 10px;
}
.Graphics__container .Graphics-button {
  display: block;
  margin: 0 auto;
  font-size: 1.8rem;
  border-radius: 10px;
  background: transparent;
}
.ItemsGraphics__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
