.Progress__circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: all 500ms ease-in;
  will-change: transform;
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.Progress__title {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.Progress__name {
  padding-top: 30px;
}
.Progress__value {
  padding-bottom: 30px;
}