.Progress__circle {
  /* background: radial-gradient(white 50%, transparent 51%),
    conic-gradient(transparent 0deg 0deg, gainsboro 0deg 0deg),
    conic-gradient(orange 0deg, yellow 0deg, lightgreen 0deg, green); */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: all 500ms ease-in;
  will-change: transform;
  position: relative;
}
.Progress__title {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}
.Progress__name {
  padding-top: 30px;
}
.Progress__value {
  padding-bottom: 30px;
}