.NewItem__container form {
  font-size: 2rem;
  padding: 10px;
  border: 1px solid #cbcbcb;
}
.NewItem__container form .Count {
  width: 50px;
}
.NewItem__container .Inputs__container {
  display: flex;
  justify-content: space-between;
}
.NewItem__container .Inputs__container .Detail {
  width: 150px;
  padding-left: 2px;
}
.NewItem__container form .Price__container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.NewItem__container form .Price__container input {
  width: 50px;
}
.NewItem__container .SendButtons__container {
  display: flex;
  gap: 2px;
  justify-content: space-between;    
  margin-top: 10px;
}
.NewItem__container .SendButtons__container button {
  padding: 3px;
  font-size: 2rem;
  border-radius: 10px;
}
.NewItem__container .SendButtons__container .Expense-button {
  background: #9f6dfc;
  /* color: white; */
}
.NewItem__container .Category option:nth-child(10){
  color: green;
  font-weight: bold;

}
