.Pasivos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Pasivos .Title {
  font-size: 2rem;
  font-weight: bold;
}
.Pasivos .Activos__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  font-size: 2rem;
}
.Pasivos .Activos__container .Subtitles__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  font-weight: bold;
}
.Pasivos .Balance__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  align-items: center;
}
.Pasivos .IncomeExpense__container {
  display: flex;
  justify-content: space-between;
}