.ListItems__container {
  display: flex;
  align-items: center;
}
.ListItems__container .List-item {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  color: gray;
  align-items: center;
  padding: 5px;
  width: 100%;
  font-size: 2rem;
  transition: transform 1s;
}
.ListItems__container .ItemIcon__container {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 4px;
  background-color: lightgray;
}
.ListItems__container img {
  width: 100%;
}
.Date__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ListItems__container .Date__container span:nth-child(2) {
  font-size: 1.5rem;
}
.item-selected {
  transform: translateX(-40px);
}
.ListItems__container .Delete-button {
  width: 20px;
  height: 20px;
  font-weight: bold;
  color: red;
  font-size: 2rem;
  display: none;
}
.ListItems__container .Button-visible {
  display: inline-block;
}