.ListItems__container {
  display: flex;
  align-items: center;
  position: relative;
  transition: transform .5s;
}
.ListItems__container.active {
  transform: scale(0);
}
.ListItems__container .List-item {
  display: grid;
  grid-template-columns: auto 1fr 1fr 120px;
  color: gray;
  align-items: center;
  padding: 5px;
  width: 100%;
  font-size: 2rem;
  transition: transform 1s;
}
.ListItems__container .ItemIcon__container {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 4px;
}
.ListItems__container img {
  width: 100%;
}
.Date__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ListItems__container .Date__container span:nth-child(2) {
  font-size: 1.5rem;
}
.item-selected {
  transform: translateX(-40px);
}
.ListItems__container .Delete-button {
  position: absolute;
  width: 30px;
  font-weight: bold;
  color: red;
  font-size: 2rem;
  background: none;
  border: none;
  right: 10px;
  display: none;
}
.ListItems__container .Button-visible {
  display: inline-block;
}