* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  /* overflow-y: hidden; */
  position: relative;
}
#root {
  overflow-x: hidden;
}

@media (min-width: 600px) {
  body {
    height: 100%;
    border: 4px solid black;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
  }
}